<div>
	<form method="POST" action="/">
		{{#if error }}
			<h2>Error! Incorrect username or password"</h2>
		{{/if}}
		<input type="text" name="username" placeholder="Username" required />
		<input type="password" name="password" placeholder="Password" required />
		<input type="submit" value="Login" />
	</form>
</div>